.container-infomember {
    display: flex;
    justify-content: space-between;
    &:hover {
        background-color: antiquewhite;
    }
    .main-infomember {
        display: flex;
        height: 60px;
        padding-top: 10px;
        padding-left: 10px;
        .member-avatar img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
        }
    
        .member-user {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
    
            .member-user-name {
                font-size: 18px;
                font-weight: bold;
            }
            .member-user-email {
                font-size: 14px;
            }
        }
    }
    .btn-delete-member {
        height: 30px;
        width: 80px;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: transparent;
        &:hover {
            border: 1px solid red;
            background-color: red;
            color: aliceblue;
        }
    }
}

.container-infomember-nobtn {
    display: flex;
    justify-content: space-between;
    .main-infomember {
        display: flex;
        height: 60px;
        padding-top: 10px;
        padding-left: 10px;
        .member-avatar img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
        }
    
        .member-user {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
    
            .member-user-name {
                font-size: 18px;
                font-weight: bold;
            }
            .member-user-email {
                font-size: 14px;
            }
        }
    }
}
