@import '_setting.scss';

$topbar-bg-color: #448030;

.navbar-top {
  height: $navbar-top-height;
  background-color: $topbar-bg-color;
  padding: 0 13px;
  display: flex;
  align-items: center;
  color: aliceblue;
  
  .app-action {
    display: inline-flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: relative;

    div.item {
      padding: 6px 10px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;

      &:not(:first-child) {
        margin-left: 4px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);
      }
      &.home {
        i {
          font-size: 15px;
          color: aliceblue;
        }
      }
      Link {
        text-decoration: none;
      }
      &.search {
        padding: 6px 0;
        .group-search {
          height: 19px;
          .input-search {
            max-height: 100%;
            background-color: inherit;
            color: inherit;
            border: none;
            font-size: 14px;
            &::placeholder {
              color: darken($color: aliceblue, $amount: 5);
              opacity: 1;
            }
          }
          .input-icon-search {
            padding: 0 8px 0 0;
            background-color: transparent;
            border: none;
            color: inherit;
          }
        }
      }
    }
    .list-board-wrapper {
      display: block;
      position: absolute;
      width: 290px;
      min-height: 300px;
      max-height: 500px;
      top: 50px;
      left: 35px;
      background: rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: rgb(0 0 0 / 12%) 0px -4px 32px;
      transition: all 200ms linear 0s;
      z-index: 1000;
      .list-board-main {
        display: flex;
        flex-direction: column;
      }
    
      .list-board-top {
        padding-top: 16px;
        flex: 0 0 auto;
        padding-left: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
      
      .list-board-top h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        color: black;
      }
      
      .list-board-container {
        text-align: left;
        max-height: 430px;
        font-size: 1rem;
        color: black;
        overflow-y: auto;
        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:horizontal {
          height: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(240, 240, 240, 0.9);
          border-radius: 8px;
        }
        .list-board-show {
          display: flex;
          height: 40px;
          width: 270px;
          margin-left: 10px;
          border-radius: 5px;
          margin-top: 10px;
          padding-left: 10px;
          padding-top: 7px;
          color: aliceblue;
          text-decoration: none;
        }
      }
    }
  }

  .user-actions {
    display: inline-flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .item {
      padding: 6px 10px;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      &:not(:first-child) {
        margin-left: 4px;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.4);
      }
      &.notification {
        margin-right: 10px;
        position: relative;
      }
      &.user-avatar {
        margin-right: 10px;
        padding: 0;
        background-color: transparent;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          &:hover {
            filter: brightness(120%);
          }
        }
      }
    }
    .user-content {
      display: block;
      position: absolute;
      width: 290px;
      height: 200px;
      top: 50px;
      background: rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: rgb(0 0 0 / 12%) 0px -4px 32px;
      transition: all 200ms linear 0s;
      z-index: 1000;
      .user-content-main {
        display: flex;
        flex-direction: column;
        .user-account {
          padding-top: 16px;
          flex: 0 0 auto;
          padding-left: 16px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          display: flex;
          color: black;
          .account-avatar img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
          }
          .account-user {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
    
            .account-user-name {
                font-size: 18px;
                font-weight: bold;
            }
            .account-user-email {
                font-size: 14px;
            }
          }
        }
      }
      
      .user-content-actions {
        text-align: left;
        font-size: 1rem;
        color: black;
        a {
          text-decoration: none;
          div {
            height: 50px;
            padding-left: 17px;
            padding-top: 10px;
            color: black;
            &:hover {
              background-color: antiquewhite;
            }
          }
        }
      }
    }
  }
}