@import '_setting.scss';

$board-bg-color : #0079bf;

.navbar-board {
    height: $navbar-board-height;
    background-color: $board-bg-color;
    font-size: 1.1rem;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }