.cardboard {
    height: 100px;
    width: 200px;
    border-radius: 5px;
    margin: 12px;
    text-decoration: none;
}

.title-cardboard {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
    word-wrap: break-word;
}