.search {
    position: relative;
    width: 261px;
    height: 32px;
    padding-left: 5px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 64px;
    border: 1.5px solid #333;
    .input-search {
        flex: 1;
        height: 100%;

        color: black;
        font-size: 1.1rem;
        // caret-color: white;
        background-color: transparent;
        padding-right: 8px;
        padding-left: 8px;
        border: none;
        &:focus {
            outline: none;
        }
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 2px;
    //     right: 30px;
    //     height: 28px;
    //     width: 1px;
    //     background-color: rgba(22, 24, 35, 0.12);
    // }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
// .search-btn {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 32px;
//     height: 32px;
//     border-top-right-radius: 5px;
//     border-bottom-right-radius: 5px;
//     font-size: 1.2rem;
//     border-color: transparent;
//     color: rgba(22, 24, 35, 0.34);
//     background-color: rgba(22, 24, 35, 0.03);
//     position: relative;
//     bottom: 7px;
//     left: 1px;
//     &:hover {
//         cursor: pointer;
//         background-color: rgba(22, 24, 35, 0.6);
//     }

//     &:active {
//         background-color: rgba(22, 24, 35, 0.06);
//     }
// }
.search-result {
  // position: absolute;
  text-align: left;
  max-height: 500px;
  width: 361px;
  font-size: 0.9rem;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #333;
  border-radius: 10px;
  
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 8px;
  }
  .list-board-show {
    display: flex;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
    padding-top: 7px;
    color: black;
    text-decoration: none;
    &:hover {
      background-color: antiquewhite;
    }
  }
}

