@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400:600');


$gap: 10px;
$colum-border-radius: 4px;

$navbar-top-height: 50px;
$navbar-board-height: 55px;
$board-content-height: calc(100vh - $navbar-board-height - $navbar-top-height);

//color
$board-bg-color : #448030;
$common-element-bg: rgba(255, 255, 255, 0.24);
$column-bg-color: #ebecf0;
$input-border-color: #448030;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
