@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400:600');


$gap: 10px;
$colum-border-radius: 4px;

$navbar-top-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

//color
$board-bg-color : #448030;
$common-element-bg: rgba(255, 255, 255, 0.24);
$column-bg-color: #ebecf0;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
